<header>
  {{ page.header }}
   <nav class="c-navbar">
    <div class="container c-navbar__container">
       {{page.site}}
         <span class="c-hammenu">
          <span class="c-hammenu__bar c-hammenu__bar--1"></span>
          <span class="c-hammenu__bar c-hammenu__bar--2"></span>
          <span class="c-hammenu__bar c-hammenu__bar--3"></span>
        </span>
    {{page.main_navigation}}
      </div>
  </header>