.toolbar-lining{
    z-index: 200000 !important;
    position: relative !important;
  }

  .contextual-region{
    position: static;
  }
  
  
  /* admin navbar */
  #toolbar-administration *{
    z-index: 200000 !important;
  }


  main{

    h1:first-of-type{
        font-weight: 900;
        position: relative;
        padding-left: 3rem;
        font-size: 5.6rem;
        color: #354b60;
        margin-top: 16rem;
        margin-bottom: 4rem;

        @include media-breakpoint-down(xl){
          font-size: 5rem;
        }

        @include media-breakpoint-down(sm){
          font-size: 4.6rem;
        }
        @include media-breakpoint-down(sm){
          font-size: 4.4rem;
        }
    }
    h1:first-of-type::before {
        content: "";
        position: absolute;
        left: 0;
        top: -0.7rem;
        width: 1rem;
        height: calc(100% + 1.4rem);
        background-color: #00B8B1;
      }

    h2{
        color: white;
        background-color: #00B8B1;
        font-size: 3.6rem;
        position: relative;
        font-weight: bold;
        padding-left: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: inline-block;
        padding-right: 2rem;
        margin-bottom: 4.5rem;
        margin-top: 3rem;

        @include media-breakpoint-down(xxl){
          font-size: 3rem;
        }
        @include media-breakpoint-down(sm){
          font-size: 3.4rem;
        }
    }

    h3{
        margin-top: 4.7rem;
        margin-bottom: 3rem;
        font-size: 3.2rem;
        font-weight: bold;
        color: #354b60;

        @include media-breakpoint-down(sm){
          font-size: 3rem;
        }
    }

    p {
        line-height: 30px;
        display: block;
        margin-bottom: 2rem;
        max-width: 70%;

        @include media-breakpoint-down(sm){
          font-size: 1.8rem;
        }
      }

      a {
        text-decoration: none;
        border-bottom: 1px;
        color: #00B8B1;
        font-size: 20px;
        transition: all .4s;

        &:hover{
          color: $color-blauw;
        }

      }

      a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: solid;
}

      ul{
        list-style-type: none;
        margin-bottom: 60px;

        li::before{
          content: "";
          width: 25rem;
          height: 25rem;
          background-image: url("../img/coronaklein.png");
          position: absolute;
          left: -137px;
          top: -87px;
        }

      }
      
    li{
      position: relative;
      margin-left: 41px;
      margin-bottom: 8px;

      @include media-breakpoint-down(sm){
        font-size: 1.8rem;
      }
    }

      img{
        margin-bottom: 1rem;
        @include media-breakpoint-down(md){
          max-width: 100%;
          height: 100%;
        }
      }

      iframe{
        margin-bottom: 30px;
      }

      blockquote {
          p{
            font-size: 44px;
            color: #354b60;
            font-weight: 900;
            margin-left: 227px;
            line-height: 1.3;
            padding: 0 1rem;

        @include media-breakpoint-down(xxl){
          font-size: 3rem;
        }
        
        @include media-breakpoint-down(md){
          margin-left: 3rem;
          padding-right: 3rem;
          padding-left: 0;
        }



          }
        background: #A3E2E0;
        padding-bottom: 6.6rem;
        padding-top: 66PX;
        margin-bottom: 45px;

        @include media-breakpoint-down(md){
          padding-bottom: 2rem;
          padding-top: 3rem;

        }
      }
      blockquote::before {
        content: "";
        width: 118px;
        height: 158px;
        background-image: url("../img/doctor.png");
        position: absolute;
        margin-top: -33px;
        margin-left: 58px;

        @include media-breakpoint-down(md){
          display: none;
        }
        
      }

      small{
        font-size: 1.2rem;
      }

      iframe{
        @include media-breakpoint-down(sm){
          max-width: 100%;

        }
      }


      .c-top{
        position: fixed;
        right: 7%;
        bottom: 11%;
        background-color: $color-blauw;
        border-radius: 50%;
        cursor: pointer;

        @media screen and (max-width: 390px){
          
          display: none;
        }

        .fa-chevron-up{
          color: $color-white;
          width: 5.2rem;
          padding: 9px 11px 13px;

          @include media-breakpoint-down(sm){
            width: 4rem;
          }

        }
      }
}
.toolbar-loading #toolbar-administration{
  background-color: #000;
}